hwader h1{
  float:  left;

}

header ul {
  float: right;

}
header li{
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 0 zem;
  margin-left: .25em;
}
main{
  border:1px solid black;
  clear:both;
}
div.profile{
  float: left;

}

.profile img{
  width: 25%;

}

li{
  display:inline-block;
  
